################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LiloShop/obj
/LiloShop/bin/Debug/net9.0
/LiloShop/.vs/LiloShop/FileContentIndex
/LiloShop/.vs/ProjectEvaluation
/LiloShop/.vs/LiloShop/CopilotIndices/17.14.1561.44479
/LiloShop/.vs/LiloShop/v17/.suo
/LiloShop/.vs/LiloShop/v17/DocumentLayout.backup.json
/LiloShop/.vs/LiloShop/v17/DocumentLayout.json
