################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LiloShop/obj
/LiloShop/bin/Debug/net9.0
/LiloShop/.vs/LiloShop/FileContentIndex
/LiloShop/.vs/ProjectEvaluation
